const riot = require('riot')
const StoreWatcher = require('../../../lib/utils/storex.js')
const RouterX = require('../../../lib/utils/routerx.js')

<app-container>

  <b>P.W.A App</b>

  <script type="es6">
    let self = this
    // for validations
    //  - add a validationform
    //  - add a validate function in the handlers['<tag-name>'] section to set result
    //                into state.<store>.<validationform>.validated property
    self.stores = ['user'] // stores to watch
    self.validationform = [] // validation form . this will have validated field

    self.mixin(StoreWatcher)
    self.mixin(RouterX)

    self.on('mount', ()=>{
      let self = this
    })
  </script>
</app-container>
