const riot = require('riot')
require('./app-counter.html')
const RouterX = require('../../../lib/utils/routerx.js')

<app-main>
  <section id='content-area'>

  <article>
    <h1>{ title }</h1>
    <p>{ body }</p>
    <tabs-with-content-example></tabs-with-content-example>
    <ul if={ isFirst }>
      <li each={ data }>
        <a href="#/first/{ id }">{ title }</a>
      </li>
    </ul>
    <app-counter></app-counter>
  </article>
  </section>

  <script>
    var self = this
    self.title = 'Now it\'s loading...'
    self.body = ''
    self.isFirst = true
    self.data = [
      { id: 'apple', title: 'Apple', body: "The world biggest fruit company." },
      { id: 'orange', title: 'Orange', body: "I don't have the word for it..." }
    ]
    self.update()
  </script>

  <style scoped>
    :scope {
      display: block;
      font-family: sans-serif;
      margin-right: 0;
      margin-bottom: 130px;
      margin-left: 50px;
      padding: 1em;
      text-align: center;
      color: #666;
    }
    ul {
      padding: 10px;
      list-style: none;
    }
    li {
      display: inline-block;
      margin: 5px;
    }
    a {
      display: block;
      background: #f7f7f7;
      text-decoration: none;
      width: 150px;
      height: 150px;
      line-height: 150px;
      color: inherit;
    }
    a:hover {
      background: #eee;
      color: #000;
    }
    @media (min-width: 480px) {
      :scope {
        margin-right: 200px;
        margin-bottom: 0;
      }
    }
  </style>

</app-main>
